$white: #ffffff;
$base-color: #011862;
$secondary: rgba(1, 24, 98, 0.74);
$lbl-color: rgba(1, 24, 98, 0.64);
$dark-theme: #1d2338;
$danger: #d31234;
$danger-light: #f94f6e;
$warning: #f5c617;
$brand-color: #5dc9ed;
$warning-filed: #ebc320;

$font-family-base: 'Open Sans', sans-serif;

// font sizes
$font-size-base: 14px;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h2-line-height: 28px;
$h3-font-size: 20px;
$h3-line-height: 24px;
$h4-font-size: 18px;
$h4-line-height: 20px;
$h5-font-size: 16px;
$h5-line-height: 18px;
$h6-font-size: 14px;
$h6-line-height: 16px;

//font weight
$font-600: 600;
$font-800: 800;
